numpy==2.3.5
pygame==2.6.1
state-processor @ file:///home/ethan/Documents/personal-dev/human-sim/state-processor/target/wheels/state_processor-0.1.0-cp313-cp313-manylinux_2_34_x86_64.whl#sha256=85552b65f8e0acd65daedfb701632f15f8e90887a664ec993bdf5bf99cc7eed3
